<div data-cy='task-dialog' class="valueadd-task-item">
  <form [formGroup]="taskItemForm" class="valueadd-task-item__form">
    <mat-form-field appearance="outline">
      <input
        data-cy="task-name-input"
        matInput
        type="text"
        formControlName="text"
        placeholder="Task Name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select
        data-cy="task-select"
        placeholder="Priority"
        formControlName="priority"
      >
        <mat-option
          *ngFor="let priority of priorities"
          [value]="priority"
          data-cy="task-option"
        >
          {{ priority }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="valueadd-task-item__button-container" mat-dialog-actions>
      <button mat-raised-button type="button" [mat-dialog-close]="false">
        Cancel
      </button>
      <button
        data-cy='add-button'
        mat-raised-button
        color="primary"
        type="submit"
        [mat-dialog-close]="taskItemForm.value"
      >
        Add
      </button>
    </div>
  </form>
</div>
