.valueadd-task-item {
  padding: 2rem 2rem 3rem 3rem;

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    padding-top: 1.5rem;
  }
}
