<h3>{{ title }}</h3>
<mat-list>
  <mat-list-item *ngFor="let task of tasks" data-cy="mat-list-item">
    <div mat-line>{{ task.text }}</div>
    <div [ngStyle]="{ color: getColor(task.priority) }" mat-line>
      {{ task.priority }}
    </div>
    <button
      mat-button
      type="button"
      (click)="taskDeleted.emit(task.id)"
      data-cy="delete-button"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-button
      type="button"
      (click)="taskEdited.emit(task)"
      data-cy="edit-button"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-button
      type="button"
      (click)="taskStatusChanged.emit(task)"
      data-cy="change-status-button"
    >
      <mat-icon>
        {{
          task.status === status[0] ? 'check_circle_outline' : 'check_circle'
        }}</mat-icon
      >
    </button>
  </mat-list-item>
</mat-list>
