<div class='valueadd-confirm-dialog'>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    {{data.text}}
  </div>
  <div mat-dialog-actions class='valueadd-confirm-dialog__buttons'>
    <button mat-raised-button
            type='button'
            [mat-dialog-close]='false'>{{data.cancelButtonText}}</button>
    <button data-cy="confirm-button"
            mat-raised-button
            type='button'
            color='primary'
            [mat-dialog-close]='true'>{{data.confirmButtonText}}</button>
  </div>
</div>
