.valueadd-tasks {
  width: 100vw;

  &__content {
    padding: 5rem 5rem;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 6rem;
    height: 6rem;
    font-weight: bold;
  }

  &__list-container {
    display: flex;
    gap: 25rem;
    padding-top: 3rem;
    justify-content: center;
  }

  &__list {
    margin-right: 15rem;
  }
}
