<div class='valueadd-tasks'>
  <valueadd-global-header></valueadd-global-header>
  <div class='valueadd-tasks__content'>
    <div class='valueadd-tasks__button-container'>
      <button data-cy='new-task-button'
        class='valueadd-tasks__button'
              mat-fab
              color='primary'
              type='button'
              (click)='openDialog()'>New Task</button>
    </div>
    <div class='valueadd-tasks__list-container'>
      <valueadd-task-list data-cy="to-do-list"
                          [tasks]='tasksDoTo$ | async'
                          (taskDeleted)='deleteTask($event)'
                          (taskEdited)='openDialog($event)'
                          (taskStatusChanged)='changeTaskStatus($event)'
                          title='Things to do'></valueadd-task-list>
      <valueadd-task-list data-cy="done-list"
                          [tasks]='tasksDone$ | async'
                          (taskDeleted)='deleteTask($event)'
                          (taskEdited)='openDialog($event)'
                          (taskStatusChanged)='changeTaskStatus($event)'
                          title='Things done'></valueadd-task-list>
    </div>
  </div>
</div>
